<section>
    <h2>Criar sua própria sala</h2>
    <form action="/criar-sala" method="post">
        <label class="sr-only" for="sala-senha">Insira uma senha</label>
        <input type="password" name="senha" id="sala-senha" placeholder="Insira uma senha">
        <button>
            <img src="images/usuario-branco.svg" alt="Criar sala">
            Criar sala
        </button>
    </form>
</section>