<section>
    <h2>Entre como participante</h2>
    <form action="/entrar-sala" method="post">
        <label class="sr-only" for="id-sala">Código da sala</label>
        <input type="number" id="id-sala" name="salaId" placeholder="Código da sala">
        <button>
            <img src="/images/entrar-sala.svg" alt="Entrar na sala">
            Entrar na sala
        </button>
    </form>
</section>
<div class="separador">
    <div></div>
    <div>ou</div>
    <div></div>
</div>
<section>
    <h2>Cria sua própria sala, de forma fácil</h2>

    <!-- Botão falso -->
    <a href="/criar-senha" class="button outlined">
        <img src="/images/usuario-azul.svg" alt="Criar sala">
        Criar sala
    </a>
</section>