.content {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 11.4rem 1fr;
    grid-template-areas: 'header header' 'left right';
}

header {
    grid-area: header;
}

#bg {
    grid-area: left;
    background: url(../images/home-bg-img.svg) no-repeat top/contain;
    background-position-x: -10rem;
}

main {
    grid-area: right;
    display: flex;
    align-items: center;
    margin-top: -12rem;
}

main .container {
    width: min(36.3rem, 100%);
}

main h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-size: clamp(20px, 5vw, 2.8rem);
    margin-bottom: 2.4rem;
}

input {
    border: 0.2rem solid var(--grey-blue);
    padding: 0 1.6rem;
    height: 4.8rem;
    outline-color: var(--blue);
}

input, button, .button {
    width: 100%;
    margin-bottom: 1.8rem;
}

.separador {
    display: flex;
    align-items: center;
}

.separador div:nth-child(1),
.separador div:nth-child(3) {
    background: var(--grey-blue);
    width: 100%;
    height: 1px;
}

.separador div:nth-child(2){
    color: var(--grey-blue);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 0 1.35rem;
    line-height: 0;
}

.ball {
    background: var(--linear);
    opacity: 0.1;
    position: fixed;
    width: 21.2rem;
    height: 21.2rem;
    clip-path: circle();
}

.ball.top {
    width: 63.3rem;
    height: 63.3rem;
    top: -47rem;
    right: -35rem;
}

.ball.bottom {
    bottom: -15rem;
    right: 4rem;
}