.content {
    max-width: min(112rem, 80%);
}

#sala header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sala header .buttons {
    display: flex;
}

#sala header .buttons .button:nth-child(1) {
    margin-right: 0.8rem;
    padding: 1.3rem 1.6rem;
}

#sala header .buttons .button:nth-child(1) img{
    margin-left: 1.16rem;
    width: 2rem;
    height: 2rem;
}

#sala header .buttons .button:nth-child(2) {
    padding: 1.3rem 3.2rem;
}

#sala header .buttons .button:nth-child(2) img{
    width: 2rem;
    height: 2rem;
}

#pergunta-form h2{
    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
    color: var(--black);
    font-weight: 700;
    margin-bottom: 2.4rem;
    line-height: 4.2rem;
}

#pergunta-form form {
    border: 0.2rem solid var(--grey-blue);
    padding: 1.6rem;
    border-radius: 0 0.8rem 0.8rem 0.8rem;
    margin-bottom: 1.6rem;
}

#pergunta-form textarea {
    resize: none;
    background: none;
    width: 100%;
    outline: 0;
}

#pergunta-form form textarea::placeholder {
    color: var(--grey-blue);
}

#pergunta-form form footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pergunta-form form footer > div {
    color: var(--icons-details);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

#pergunta-form form footer > div img {
    margin-right: 0.9rem;
}

#pergunta-form form footer button {
    padding: 0.8rem 2.4rem;
}

.pergunta-box {
    background: var(--light-blue);
    margin-bottom: 0.8rem;
    border-radius: 0 0.8rem 0.8rem 0.8rem;
    padding: 2.4rem;
}

.pergunta-box .pergunta-conteudo {
    display: flex;
    align-items: flex-start;
}

.pergunta-box .pergunta-conteudo .usuario {
    clip-path: circle();
    background: var(--blue);
    padding: 1.4rem;
}

.pergunta-box .pergunta-conteudo p {
    margin-left: 1.6rem;

    /* Centraliza o texto dentro do parágrafo */
    display: flex;
    align-items: center;

    /* A altura mínima do parágrafo é 52px, altura do círculo, mas caso seja uma pergunta longa, a altura será maior */
    min-height: 5.2rem;

    /* Evita que nosso layout quebre caso exista alguma palavra muito grande */
    word-break: break-word;
}

.pergunta-box .acoes {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Seleciona todos os <a> dentro de class="acoes", mas não seleciona nenhum <a> dentro de <a>
Exemplo de todos os selacionados: 
<div class="pergunta-box">
    <div class="acoes">
        <a> // É selecionado
            <a> //Não é selecionado
        </a>
        <a> // É selecionado
        </a>
    </div>
</div>*/
.pergunta-box .acoes > a {
    display: flex;
    align-items: center;
}

/* a + b = Seleciona APENAS o irmão de a, que é o b
Exemplo: 
<div class="pergunta-box">
    <div class="acoes">
        <a> // Não é selecionado
        </a>
        <a> // É selecionado porque é o irmão do elemento que antecede o sinal "+"
        </a>
    </div>
</div> */
.pergunta-box .acoes > a + a {
    margin-left: 2.4rem;
}

.pergunta-box .acoes > a > img {
    margin-right: 0.8rem;
}

.pergunta-box.lido {
    background: var(--grey-transparent);
}

.pergunta-box.lido .pergunta-conteudo .usuario {
    background: var(--grey-blue);
}